<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tfd101/project/g3
RewriteRule ^tfd101/project/g3/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tfd101/project/g3/index.html [L]
</IfModule>