// 按鈕模組
@mixin btn-module($class, $w, $h) {
    #{$class} {
        font-size: $h3 - 2px;
        width: $w * 0.7px;
        height: $h * 0.7px;
        background-color: transparent;
        text-align: center;
        border: 3px solid #888;
        border-radius: 30px;
        line-height: 1.8;
        cursor: pointer;
        &:hover {
            border: 3px solid rgba(245, 255, 103, 0.5);
        }
        @content;
    }
}
