//頁碼
@mixin pagination {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: $p2;
    color: white;
    li {
        padding-left: 10px;
    }
    .-on {
        color: #4eacf2;
    }
}

//商品頁頁籤專用
@mixin bookmark($class) {
    #{$class} {
        color: $colorP;
        font-size: $h2;
        width: 85%;
        @include center;
        display: flex;
        margin-top: 70px;
        margin-bottom: -12px;
        @include rwd(mobile) {
            margin-top: 50px;
        }

        li {
            display: block;
            width: 10%;
            height: 75px * 0.7;
            background-color: white;
            margin-left: 20px;
            text-align: center;
            line-height: 2;
            border-radius: 20px 20px 0 0;
            cursor: pointer;

            @include rwd(pad) {
                font-size: 20px;
                padding-top: 10px;
            }

            @include rwd(mobile) {
                font-size: 18px;
                line-height: 1.6;
                margin-left: 5px;
                height: 90px;
                margin-top: 15px;
                padding-top: 10px;
            }

            &:nth-child(5) {
                background-color: $colorPb;
                justify-content: right;
                color: white;
                margin-left: 40%;
                width: 12%;
                &:hover {
                    background-color: $colorPbg;
                }
                @content;
                @include rwd(mobile) {
                    width: 10%;
                    // padding-top: 10px;
                }
            }
        }
    }
}
